<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ren Binden">
    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/f8fea3368f.js"></script>

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <main role="main" class="container">
      <div class="main">
        <div class="card mb-3">
          <div class="card-body">
            <h1>Ren Binden</h1>
            <h5>they/them · Software Engineer</h5>
          </div><!-- /.card-body -->
        </div><!-- /.card -->
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-purple" data-toggle="modal" data-target="#email"><span class="large-icon"><span class="fas fa-envelope"></span></span></button>
                </div>
                <div class="col">
                  <a href="https://twitter.com/alyphen_" class="btn btn-purple"><span class="large-icon"><span class="fab fa-twitter"></span></span></a>
                </div>
                <div class="col">
                  <a href="https://github.com/alyphen" class="btn btn-purple"><span class="large-icon"><span class="fab fa-github"></span></span></a>
                </div>
                <div class="col">
                  <a href="https://alyphen.itch.io/" class="btn btn-purple"><span class="large-icon"><span class="fab fa-itch-io"></span></span></a>
                </div>
                <div class="col">
                  <a href="https://www.linkedin.com/in/renbinden/" class="btn btn-purple"><span class="large-icon"><span class="fab fa-linkedin-in"></span></span></a>
                </div>
              </div><!-- /.row -->
            </div><!-- /.container -->
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.main -->
      <div class="modal fade" id="email" tabindex="-1" role="dialog" aria-labelledby="emailTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="emailTitle">E-mail</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div><!-- /.modal-header -->
            <div class="modal-body">
              ren &lt;dot&gt; binden &lt;at&gt; gmail &lt;dot&gt; com
            </div><!-- /.modal-body -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </main><!-- /.container -->
  </body>
</html>
